{% extends "base.html" %}

{% block title %} People {% endblock %}

{% block content %}
<div class = "list_main">
<link rel="stylesheet" href="/static/list.css" type="text/css" />
<script src="https://use.fontawesome.com/dc8d025f5d.js"></script>

<h1 class = "list_title">Users</h1>

{% for user in users %}
    
    <div class = "user">
        <div class = "icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
        <a href = "{{url_for('user_list', name = user.name) }}" class = "name" >{{ user.name }}</a>
    </div>
    
{% endfor %}

</div>
    

{% endblock %}